//code tutorial and largely from: https://www.youtube.com/watch?v=tSy45dxf4O0&list=PLHbz-DWIAPJDxWTyoq0O2v4T3AO5W94vl&index=2


body {
// 	margin: 0;
// 	padding: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	min-height: 100vh;
// 	font-family: 'Jost', sans-serif;
 	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
 }
.container {
  display: flex;
  height: calc(100vh);

  > .chat-list {
      width: 40%;
      margin: 16px;
      background: #c5cae9;
      border-radius: 16px;

      .chat-title {
          display: flex;
          justify-content: space-between;

          .chat-name {
              font-weight: 500;
          }

          .chat-date {
              font-size: 0.7rem;
              color: rgba(0,0,0,0.7)
          }

      }

      .search-input {
          margin: 24px;
      }
  }


  > .messages {
      width: 60%;
      padding: 24px;
      margin: 16px;
      margin-left: 8px;
      border-radius: 16px;
      background: #6f6b9c;

      .messages-header {
        display: flex;
        margin-bottom: 8px;

         > img {
             border-radius: 50%;
             object-fit: cover;
             margin-right: 16px;
             height: 35px;
         }

         > h2 {
            margin: 0;
         }
      }

      .input-area > mat-form-field {
        width: 100%
        //background: #cdcdce
      }

      .input-area {
        padding-top: calc(100vh - 150px);
        padding-bottom: 8px;
        //background: #cdcdce
      }

      .chat-area {
          height: calc(100vh - 160px);
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          background: rgb(255, 255, 255);

           //overflow: auto;

      //     > :first-child {
      //         margin-top: auto;
      //     }

      //     .chat-bubble-container {
      //         display: flex;
      //         width: 100%;
      //         justify-content: flex-start;

      //         > .chat-bubble {
      //             background: white;
      //             padding-top: 8px;
      //             padding-bottom: 18px;
      //             padding-left: 8px;
      //             padding-right: 100px;
      //             margin-bottom: 16px;
      //             border-radius: 8px;
      //             width: fit-content;

      //             position: relative;
      //         }
      //     }

      //     .chat-bubble-container.sender {
      //         justify-content: flex-end;
      //         > .chat-bubble {
      //             background: #c5cae9;
      //         }
      //     }
       }
  }

}

mat-form-field {
  width: 100%;
}
