<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="chat-list" mat-elevation-z5>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <button class="btn" routerLink="../profile"><i class="fa fa-home"></i> Home</button>

        <!-- Search input to find friends -->
        <div class="search-input">
          <mat-form-field>
            <input
              matInput
              placeholder="Search for friends..."
              [matAutocomplete]="users"
              [formControl]="searchControl"
              formControlName="searchControll"
            />
          </mat-form-field>

          <!-- baby drop down for testing -->
          <mat-autocomplete #users="matAutocomplete">
            <mat-option>Testerbaby</mat-option>
          </mat-autocomplete>

          <!-- Autocomplete dropdown to show search results of friends -->
          <mat-autocomplete #users="matAutocomplete">
            <mat-option *ngFor="let friend of friends" [value]="friend.name">
              {{ friend.name }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <!-- Display list of friends -->
        <div class="friends-list">
          <div class="friend" *ngFor="let friend of friends">
            <div class="friends-info">
              <div class="friends-name">{{friend.name}}</div>
            </div>
          </div>
        </div>

        <!-- Display friends like a chat
        <div class="friends-chat">
          <div class="friend-chat" *ngFor="let friend of friends">
            <div class="chat-message received">
              <div class="chat-name">{{ friend.name }}</div>
              <div class="chat-date">{{ friend.lastActive }}</div>
              <div class="chat-text">{{ friend.status }}</div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="messages" mat-elevation-z5>
        <div class="chat-area">
            <ng-container>

              <!-- Loop through each message -->
              <div class="chat-bubble" *ngFor="let message of chatMessages">

                <!-- Check if the message is sent by the user -->
                <div class="chat-message" *ngIf="message.from === currentUser">
                  <p>{{ message.message }}</p>
                </div>
                <!-- Check if the message is received by the user -->
                <div class="chat-message received" *ngIf="message.to === currentUser">
                  <p>{{ message.from }}: {{ message.message }}</p>
                </div>
              </div>

            </ng-container>
          <div #endOfChat></div>
        </div>

         <!-- Input area always at the bottom -->
        <div class="input-area">
          <mat-form-field appearance="outline" padding="">
            <input matInput placeholder="Enter your message..."
              [formControl]="messageControl"
              formControlName="messageControll"
              (keydown.enter)="sendMessage()"/>

            <button mat-icon-button matSuffix (click)="sendMessage()">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </body>
</html>
