//code tutorial and largely from: https://www.youtube.com/watch?v=tSy45dxf4O0&list=PLHbz-DWIAPJDxWTyoq0O2v4T3AO5W94vl&index=2


body {
// 	margin: 0;
// 	padding: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	min-height: 100vh;
// 	font-family: 'Jost', sans-serif;
 	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
 }
.container {
  display: flex;
  height: calc(100vh);

  > .chat-list {
      width: 40%;
      margin: 16px;
      background: #c5cae9;
      border-radius: 16px;

      .chat-title {
          display: flex;
          justify-content: space-between;

          .chat-name {
              font-weight: 500;
          }

          .chat-date {
              font-size: 0.7rem;
              color: rgba(0,0,0,0.7)
          }

      }

      .search-input {
          margin: 24px;
      }
  }


  > .messages {
      width: 60%;
      padding: 24px;
      margin: 16px;
      margin-left: 8px;
      border-radius: 16px;
      background: #6f6b9c;

      .messages-header {
        display: flex;
        margin-bottom: 8px;

         > img {
             border-radius: 50%;
             object-fit: cover;
             margin-right: 16px;
             height: 35px;
         }

      }

      .input-area > mat-form-field {
        width: 100%
        //background I want to fill but it's also fine as it is
      }

      .input-area {
        padding-top: calc(100vh - 150px);
        padding-bottom: 8px;
        //background: #cdcdce
      }

      .chat-area {
          height: calc(100vh - 160px);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          background: rgb(255, 255, 255);

          .chat-message {
            position: relative;
            display: inline-block;
            padding: 8px 16px;
            border-radius: 16px;
            margin-bottom: 8px;
            background-color: #f1f0f0;
          }

          .chat-message::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-right: 10px solid #f1f0f0;
            border-bottom: 10px solid transparent;
            transform: translateY(-50%);
          }

          .chat-message.received {
            align-self: flex-end;
            background-color: #1e88e5;
            color: white;
          }

          .chat-message.received::before {
            left: auto;
            right: -10px;
            border-right: 10px solid #1e88e5;
            border-left: 10px solid transparent;
          }
       }
  }

}

mat-form-field {
  width: 100%;
}
