<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="chat-list" mat-elevation-z5>
        <div class="search-input">
          <mat-form-field>
            <input
              matInput
              placeholder="Search for friends..."
              [matAutocomplete]="users"
              [formControl]="searchControl"
              formControlName="searchControll"
            />
          </mat-form-field>
          <mat-autocomplete #users="matAutocomplete">
            <mat-option>Testerbaby</mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="messages" mat-elevation-z5>
        <div class="chat-area">
            <ng-container>

              <!-- Loop through each message -->
              <div class="chat-bubble" *ngFor="let message of chatMessages">

                <!-- Check if the message is sent by the user -->
                <div class="chat-message" *ngIf="message.from === currentUser">
                  <p>You: {{ message.message }}</p>
                </div>
                <!-- Check if the message is received by the user -->
                <div class="chat-message received" *ngIf="message.to === currentUser">
                  <p>{{ message.from }}: {{ message.message }}</p>
                </div>
              </div>

            </ng-container>
          <div #endOfChat></div>
        </div>

         <!-- Input area always at the bottom -->
        <div class="input-area">
          <mat-form-field appearance="outline" padding="">
            <input matInput placeholder="Enter your message..."
              [formControl]="messageControl"
              formControlName="messageControll"
              (keydown.enter)="sendMessage()"/>

            <button mat-icon-button matSuffix (click)="sendMessage()">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </body>
</html>
