//code tutorial and largely from: https://www.youtube.com/watch?v=tSy45dxf4O0&list=PLHbz-DWIAPJDxWTyoq0O2v4T3AO5W94vl&index=2


body {
 	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
 }

.container {
  display: flex;
  height: calc(100vh);

  > .chat-list {
    width: 40%; /* width of the chat list */
    margin: 16px; /* margin around the chat list */
    background: #c5cae9; /* background color of the chat list */
    border-radius: 16px; /* rounded corners of the chat list */

    /* style the chat list title */
    .chat-title {
      display: flex; /* use flexbox for layout */
      justify-content: space-between; /* space out chat name and date */

      /* style the chat name */
      .chat-name {
        font-weight: 500; /* set font weight to bold */
      }

      /* style the chat date */
      .chat-date {
        font-size: 0.7rem; /* set font size to 0.7rem */
        color: rgba(0,0,0,0.7); /* set color to a slightly transparent black */
      }
    }

    /* style the search input */
    .search-input {
      margin: 24px; /* set margin around the search input */
      width: auto;
    }
  }

  > .messages {
      width: 60%; /* width of the chat interface */
      padding: 24px;
      margin: 16px;
      margin-left: 8px;
      border-radius: 16px; /* rounded corners of the chat interface */
      background: #6f6b9c; /* background color of the chat interface */

      /* style the input area */
      .input-area > mat-form-field {
        width: 190%
        //background I want to fill but it's also fine as it is
      }

      .input-area {
        position: absolute; /* forever at the bottom */
        padding-top: calc(100vh - 160px); /* distance from top of screen to input area */
        bottom: 0;
        padding-bottom: 8px;

      }

      /* style the chat area */
      .chat-area {
        overflow-y: auto; /* enable vertical scrolling */
        padding: 16px; /* add padding to prevent chat messages from touching the edges */
        height: calc(100vh - 170px); /* height of the chat area */
        display: flex; /* use flexbox for layout */
        flex-direction: column; /* stack chat messages vertically */
        align-items: flex-start; /* align chat messages to the left side */
        background: rgb(255, 255, 255); /* background color of the chat area */

        /* style individual chat messages */
        .chat-message {
          position: relative;
          align-self: flex-front;
          display: inline-block;
          padding: 8px 16px;
          border-radius: 16px; /* rounded corners of chat messages */
          margin-bottom: 8px; /* spacing between chat messages */
          background-color: #f1f0f0; /* background color of sent messages */

          /* align received messages to the right side */
          &.received {
            align-self: flex-end;
            background-color: #c283ca;
            color: white;
          }
        }
      }

      //Scrolling stuff
      .chat-area::-webkit-scrollbar {
        width: 8px;
      }

      .chat-area::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2);
        border-radius: 8px;
      }

      .chat-area::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0.1);
      }
  }
}
