<!DOCTYPE html>
<!-- Base format code from:
  https://codepen.io/mamislimen/pen/jOwwLvy

    Formal registration from:
  https://jasonwatmore.com/post/2022/11/29/angular-14-user-registration-and-login-example-tutorial#account-service-ts
-->
<html>
<head>
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
      <!-- sign up form thing: https://www.youtube.com/watch?v=7al2_2t2AME&t=97s -->
			<div class="signup">
				<form [formGroup]="signupForm" (ngSubmit)="onSignUp()" novalidate>
					<label for="chk" aria-hidden="true">Sign up</label>

					<input formControlName="username" name="nam" placeholder="Username" >

					<input formControlName="email" name="emal" placeholder="Email"> <!-- later used for authentication -->

					<input formControlName="password" type="password" name="pswd" placeholder="Password"  required="ngModel">

					<button name="signup" type="button" (click)="onSignUp()" routerLink="../profile">Sign up</button>

				</form>
			</div>

			<div class="login">
				<form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
					<label for="chk" aria-hidden="true">Login</label>

					<input formControlName="loginUsername" name="nam" placeholder="Username" >

					<input formControlName="loginPassword" type="password" name="pswd" placeholder="Password" required="ngModel">

					<button type="button" (click)="onLogin()">Login</button>

          <a routerLink="../forget"><p style="text-align:center; font-size: 12px">Forgot Password</p></a>

				</form>
			</div>
	</div>
</body>
</html>


<!-- <div *ngIf="!isLogin">
    <h3>Register Account</h3>
    <input [(ngModel)]="registerFirstName" type="text" placeholder="First Name" />
    <input [(ngModel)]="registerLastName" type="text" placeholder="Last Name" />
    <input [(ngModel)]="registerEmail" type="email" placeholder="Email" />
    <input [(ngModel)]="registerPassword" type="password" placeholder="Password" />
    <button (click)="register()" [disabled]="!registerFirstName || !registerLastName || !registerEmail || !registerPassword" >Register</button>
    <button (click)="isLogin=true">Have an Account?</button>
</div>

<div *ngIf="isLogin">
    <h3>Login</h3>
    <input [(ngModel)]="loginEmail" type="email" placeholder="Email" />
    <input [(ngModel)]="loginPassword" type="password" placeholder="Password" />
    <button (click)="login()" [disabled]="!loginEmail || !loginPassword" >Login</button>
    <button (click)="isLogin=false">Register an Account?</button>
</div>
-->
