<!-- Following
  https://blog.devgenius.io/angular-login-with-golang-and-mysql-92a59eec1249
-->

<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="main">
			<div class="profile">
				<form>
					<label>Recover your password!</label>
          <input formControlName="username" name="nam" placeholder="Username" >
					<input formControlName="email" name="emal" placeholder="Email">
					<button name="recover" type="button" routerLink="../">Recover</button>
				</form>
			</div>
	</div>
</body>
</html>
