<!-- Following
  https://blog.devgenius.io/angular-login-with-golang-and-mysql-92a59eec1249
-->

<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="main">
			<div class="profile">
				<form>
          <br>
          <br>
          <img name="logo" src="https://cdn-icons-png.flaticon.com/512/684/684907.png" style="width: 50px; height: 50px;" class="center">
          <label margin="50px">Encryto</label>
          <br>
          <br>
					<label margin="40px">Welcome back!</label>
          <br>
          <p>What would you like to do?</p>
          <button type="button" name="message" routerLink="../home">Message</button>
          <button type="button" name="logout" routerLink="../">Logout</button>
				</form>
			</div>
	</div>
</body>
</html>
