<!-- Following
  https://blog.devgenius.io/angular-login-with-golang-and-mysql-92a59eec1249
-->

<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="main">
			<div class="profile">
				<form>
					<label>Welcome back, Patrick!</label>
          <img src="https://i.pinimg.com/564x/81/72/03/817203809a927248f06561547c35662e.jpg" width="100" class="center" alt="Avatar">
          <br>
          <button>Edit Profile</button>
          <button type="button" routerLink="../login">Logout</button>
					<button>Message</button>
				</form>
			</div>
	</div>
</body>
</html>
